			* { box-sizing: border-box; }
			html { -webkit-font-smoothing:antialiased; -moz-osx-font-smoothing:grayscale; }
			body {
				font-family: 'Lato', sans-serif; font-weight:300; font-size:18px; line-height:1.5; color:#121212;
				background:#fff;
			}
			.edit { color:red; }
			article.dj-story { padding-bottom:60px; }

			h2 { font-size:32px; margin:42px 0 18px; }
			h2.chapter-nav { padding-top:24px;  }

			.navbar.navbar-inverse { position:fixed; width:100%; z-index:100; margin-bottom:0; min-height:40px; height:40px; overflow:hidden; }
			.navbar-toggle { margin-top:5px; }
			.navbar h1 { font-size:11px; font-weight:700; float:left; margin:0 24px 0 15px; padding:0; line-height:40px; }
			.navbar li.label { text-transform:uppercase; font-size:12px; font-weight:500; background:transparent; }
			#Chapter_Nav li, #Social_Nav li { line-height:40px; }
			#Chapter_Nav li a,  #Social_Nav li a { line-height:40px; display:block; padding:0 10px; font-weight:400;   }
			#Social_Nav_Mobile li { display:inline-block; }
			#Social_Nav { margin-right:0; }
			#Header { position:relative; color:#fff; margin-bottom:40px; }
			#Header .img { background-size:cover; background-position:center center; /*height:100%;*/ height:100vh; position:absolute; width:100%;}
			#Header h1.dj-title { color:#ffc400; font-weight:900; font-size:44px; text-transform:uppercase;}
			#Header h3.dj-deck { font-weight:500; font-size:30px; }
			#Header .dj-meta { font-size:16px; opacity:0.8; }
			header { position:relative; }

			.dj-pquote {
				border-left:2px solid #ffc400; padding-left:24px;
				font-weight:300; font-size:36px;
				margin-top:24px; margin-bottom:24px;
			}
			.dj-pquote p { margin-bottom:0; color:#ffc400; }
			.dj-pquote small { display: block;  font-size:16px; line-height: 1.42857; color: #777; }

			.dj-soundcloud { float:right; width:300px; height:150px; margin-left:30px; }
			.dj-soundcloud.full { width:100%; height:150px; float:none; }

			article .chapter, article .interactive { margin-top:24px; margin-bottom:24px; }
			article footer {}
			article footer h1 { font-size:20px; border-bottom:1px dashed #ccc; margin-bottom:18px;  }
			article footer h2 { font-size:18px; margin:0; padding:0; }
			article footer .img { width:20%; float:left; margin-right:5%; overflow:hidden; border-radius:100px;  }
			article footer .bio { width:75%; float:left; }
			article footer p { font-size:14px;  }
			article footer p.role { font-weight:500; text-transform:uppercase; font-size:12px; }

			/*	HELPERS	*/
			.dj-embed { position: relative; padding-bottom: 56.25%; padding-top: 25px; height: 0; }
			.dj-embed iframe { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
			.dj-caption { position:relative; z-index:10; font-size:12px; background-color:#121212; color:#fff; padding:5px; margin-bottom:30px;}

			img.ir { width:100%; height:auto;}
			.img.plax { background-attachment:fixed; background-size:cover; background-position:center center; height:100%; position:absolute; width:100%;}
			.img-right { float:right; }
			.full-height { position:relative; height:100vh;}
			.full-height .img { background-size:cover; background-position:center center; height:100vh; position:absolute; width:100%;}
			.vertical-center { position:relative; top: 50%; transform: translateY(-50%); }
			.chart.chart-right { width:100%; height:300px;}

			#UI_Bottom {position:fixed; bottom:10px; right:10px; display:inline-block;z-index:200;}

		    /* Custom, iPhone Retina */
		    @media only screen and (min-width : 320px) {

		    }

		    /* Extra Small Devices, Phones */
		    @media only screen and (min-width : 480px) {
					.gallery.gallery-right { width:33%; float:right; margin-left:20px; }
					.navbar h1 { font-size:12px; font-weight:700; }
		    }

		    /* Small Devices, Tablets */
		    @media only screen and (min-width : 768px) {
					.navbar h1 { font-size:18px; font-weight:700; }
					#Header h1.dj-title { font-size:68px; }
					#Header h3.dj-deck { font-size:42px; }
					.dj-quote { /*margin-right:-16.6667%;*/ }
					.gallery.gallery-right { width:25%; margin-right:-8.33333333%; }

					.chart.chart-right { float:right; width:50%; height:250px; }
		    }

		    /* Medium Devices, Desktops */
		    @media only screen and (min-width : 992px) {
					.dj-pquote-left { float:right; width:35%; margin-right:15px; }
					.dj-pquote-right { float:right; width:35%; margin-left:15px; }
					.gallery.gallery-right { margin-right:-16.66666667%; }
		    }

		    /* Large Devices, Wide Screens */
		    @media only screen and (min-width : 1200px) {

		    }



		    .dropdownjs{position:relative}.dropdownjs *{box-sizing:border-box}.dropdownjs>input{width:100%;padding-right:30px;text-overflow:ellipsis}.dropdownjs>input.focus~ul{transform:scale(1)}.dropdownjs>ul{position:absolute;margin:0;min-width:200px;transform:scale(0);z-index:10000}.dropdownjs>ul[placement=top-left]{transform-origin:bottom left;bottom:0;left:0}.dropdownjs>ul[placement=bottom-left]{transform-origin:top left;top:0;left:0}.dropdownjs>ul>li{list-style:none;padding:10px 20px}.dropdownjs>ul>li.dropdownjs-add{padding:0}.dropdownjs>ul>li.dropdownjs-add>input{border:0;padding:10px 20px;width:100%}.dropdownjs>input[readonly]{cursor:pointer}select[data-dropdownjs][disabled]+.dropdownjs>input[readonly]{cursor:default}.dropdownjs>ul{background:#FFF;box-shadow:0 1px 6px rgba(0,0,0,.12),0 1px 6px rgba(0,0,0,.12);transition:transform .2s ease-out;padding:10px;overflow:auto;max-width:500px}.dropdownjs>ul>li{cursor:pointer;word-wrap:break-word}.dropdownjs>ul>li.selected,.dropdownjs>ul>li:active{background-color:#eaeaea}.dropdownjs>ul>li:focus{outline:#d4d4d4 solid 1px}.dropdownjs>ul>li>.close:before{content:"\00d7";display:block;position:absolute;right:15px;float:right;font-size:21px;font-weight:700;line-height:1;color:#000;text-shadow:0 1px 0 #fff;opacity:.6}.dropdownjs>ul>li:h>.close:hover:before{opacity:.9}


				/*! Pushy - v0.9.2 - 2014-9-13
				* Pushy is a responsive off-canvas navigation menu using CSS transforms & transitions.
				* https://github.com/christophery/pushy/
				* by Christopher Yee */

				/* Menu Appearance */

				.pushy{
				    position: fixed;
				    width: 270px;
				    height: 100%;
				    top: 0;
				    z-index: 9999;
				    background: #333332;
				    font-size: 0.9em;
				    font-weight: bold;
				    -webkit-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
				    -moz-box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
				    box-shadow: inset -10px 0 6px -9px rgba(0, 0, 0, .7);
				    overflow: auto;
				    -webkit-overflow-scrolling: touch; /* enables momentum scrolling in iOS overflow elements */
				}

				.pushy ul { list-style-type: none; padding:0; }

				.pushy a{
				    display: block;
				    color: #b3b3b1;
				    padding: 15px 30px;
				    text-decoration: none;
				}

				.pushy a:hover{
				    background: #00b4ff;
				    color: #FFF;
				}

				/* Menu Movement */
				.pushy-left{
				    -webkit-transform: translate3d(-270px,0,0);
				    -moz-transform: translate3d(-270px,0,0);
				    -ms-transform: translate3d(-270px,0,0);
				    -o-transform: translate3d(-270px,0,0);
				    transform: translate3d(-270px,0,0);
				}

				.pushy-open{
				    -webkit-transform: translate3d(0,0,0);
				    -moz-transform: translate3d(0,0,0);
				    -ms-transform: translate3d(0,0,0);
				    -o-transform: translate3d(0,0,0);
				    transform: translate3d(0,0,0);
				}

				.container-push, .push-push{
				    -webkit-transform: translate3d(200px,0,0);
				    -moz-transform: translate3d(200px,0,0);
				    -ms-transform: translate3d(200px,0,0);
				    -o-transform: translate3d(200px,0,0);
				    transform: translate3d(200px,0,0);
				}

				/* Menu Transitions */

				.pushy, #container, .push{
				    -webkit-transition: -webkit-transform .2s cubic-bezier(.16, .68, .43, .99);
				    -moz-transition: -moz-transform .2s cubic-bezier(.16, .68, .43, .99);
				    -o-transition: -o-transform .2s cubic-bezier(.16, .68, .43, .99);
				    transition: transform .2s cubic-bezier(.16, .68, .43, .99);
				}

				/* Site Overlay */

				.site-overlay{
				    display: none;
				}

				.pushy-active .site-overlay{
				    display: block;
				    position: fixed;
				    top: 0;
				    right: 0;
				    bottom: 0;
				    left: 0;
				    z-index: 9998;
				    background-color: rgba(0,0,0,0.5);
				    -webkit-animation: fade 500ms;
				    -moz-animation: fade 500ms;
				    -o-animation: fade 500ms;
				    animation: fade 500ms;
				}

				@keyframes fade{
				    0%   { opacity: 0; }
				    100% { opacity: 1; }
				}

				@-moz-keyframes fade{
				    0%   { opacity: 0; }
				    100% { opacity: 1; }
				}

				@-webkit-keyframes fade{
				    0%   { opacity: 0; }
				    100% { opacity: 1; }
				}

				@-o-keyframes fade{
				    0%   { opacity: 0; }
				    100% { opacity: 1; }
				}

				/* Example Media Query */

				@media screen and (max-width: 768px){
				    .pushy{
				        font-size: 1.0em;
				    }
				}
