/*
    TimelineJS - ver. 2015-06-10-16-17-35 - 2015-06-10
    Copyright (c) 2012-2015 Northwestern University
    a project of the Northwestern University Knight Lab, originally created by Zach Wise
    https://github.com/NUKnightLab/TimelineJS
    This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
    If a copy of the MPL was not distributed with this file, You can obtain one at http://mozilla.org/MPL/2.0/.
*/
/*!
    TIMELINE CSS
    
    Designed and built by Zach Wise at VeriteCo
    
    This Source Code Form is subject to the terms of the Mozilla Public
    License, v. 2.0. If a copy of the MPL was not distributed with this
    file, You can obtain one at http://mozilla.org/MPL/2.0/.

*/
.vco-storyjs div * {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.vco-storyjs h1,
.vco-storyjs h2,
.vco-storyjs h3,
.vco-storyjs h4,
.vco-storyjs h5,
.vco-storyjs h6,
.vco-storyjs p,
.vco-storyjs blockquote,
.vco-storyjs pre,
.vco-storyjs a,
.vco-storyjs abbr,
.vco-storyjs acronym,
.vco-storyjs address,
.vco-storyjs cite,
.vco-storyjs code,
.vco-storyjs del,
.vco-storyjs dfn,
.vco-storyjs em,
.vco-storyjs img,
.vco-storyjs q,
.vco-storyjs s,
.vco-storyjs samp,
.vco-storyjs small,
.vco-storyjs strike,
.vco-storyjs strong,
.vco-storyjs sub,
.vco-storyjs sup,
.vco-storyjs tt,
.vco-storyjs var,
.vco-storyjs dd,
.vco-storyjs dl,
.vco-storyjs dt,
.vco-storyjs li,
.vco-storyjs ol,
.vco-storyjs ul,
.vco-storyjs fieldset,
.vco-storyjs form,
.vco-storyjs label,
.vco-storyjs legend,
.vco-storyjs button,
.vco-storyjs table,
.vco-storyjs caption,
.vco-storyjs tbody,
.vco-storyjs tfoot,
.vco-storyjs thead,
.vco-storyjs tr,
.vco-storyjs th,
.vco-storyjs td,
.vco-storyjs .vco-container,
.vco-storyjs .content-container,
.vco-storyjs .media,
.vco-storyjs .text,
.vco-storyjs .vco-slider,
.vco-storyjs .slider,
.vco-storyjs .date,
.vco-storyjs .title,
.vco-storyjs .messege,
.vco-storyjs .map,
.vco-storyjs .credit,
.vco-storyjs .caption,
.vco-storyjs .vco-feedback,
.vco-storyjs .vco-feature,
.vco-storyjs .toolbar,
.vco-storyjs .marker,
.vco-storyjs .dot,
.vco-storyjs .line,
.vco-storyjs .flag,
.vco-storyjs .time,
.vco-storyjs .era,
.vco-storyjs .major,
.vco-storyjs .minor,
.vco-storyjs .vco-navigation,
.vco-storyjs .start,
.vco-storyjs .active {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: normal;
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    font-family: inherit;
    width: auto;
    float: none;
}
.vco-storyjs h1,
.vco-storyjs h2,
.vco-storyjs h3,
.vco-storyjs h4,
.vco-storyjs h5,
.vco-storyjs h6 { clear: none }
.vco-storyjs table {
    border-collapse: collapse;
    border-spacing: 0;
}
.vco-storyjs ol,
.vco-storyjs ul { list-style: none }
.vco-storyjs q:before,
.vco-storyjs q:after,
.vco-storyjs blockquote:before,
.vco-storyjs blockquote:after { content: "" }
.vco-storyjs a:focus { outline: thin dotted }
.vco-storyjs a:hover,
.vco-storyjs a:active { outline: 0 }
.vco-storyjs article,
.vco-storyjs aside,
.vco-storyjs details,
.vco-storyjs figcaption,
.vco-storyjs figure,
.vco-storyjs footer,
.vco-storyjs header,
.vco-storyjs hgroup,
.vco-storyjs nav,
.vco-storyjs section { display: block }
.vco-storyjs audio,
.vco-storyjs canvas,
.vco-storyjs video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
}
.vco-storyjs audio:not([controls]) { display: none }
.vco-storyjs div { max-width: none }
.vco-storyjs sub,
.vco-storyjs sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
.vco-storyjs sup { top: -0.5em }
.vco-storyjs sub { bottom: -0.25em }
.vco-storyjs img {
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.vco-storyjs button,
.vco-storyjs input,
.vco-storyjs select,
.vco-storyjs textarea {
    font-size: 100%;
    margin: 0;
    vertical-align: baseline;
    *vertical-align: middle;
}
.vco-storyjs button,
.vco-storyjs input {
    line-height: normal;
    *overflow: visible;
}
.vco-storyjs button::-moz-focus-inner,
.vco-storyjs input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
.vco-storyjs button,
.vco-storyjs input[type="button"],
.vco-storyjs input[type="reset"],
.vco-storyjs input[type="submit"] {
    cursor: pointer;
    -webkit-appearance: button;
}
.vco-storyjs input[type="search"] {
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.vco-storyjs input[type="search"]::-webkit-search-decoration { -webkit-appearance: none }
.vco-storyjs textarea {
    overflow: auto;
    vertical-align: top;
}
.vco-storyjs { font-family: "Georgia",Times New Roman,Times,serif }
.vco-storyjs .twitter,
.vco-storyjs .vcard,
.vco-storyjs .messege,
.vco-storyjs .credit,
.vco-storyjs .caption,
.vco-storyjs .zoom-in,
.vco-storyjs .zoom-out,
.vco-storyjs .back-home,
.vco-storyjs .time-interval div,
.vco-storyjs .time-interval-major div,
.vco-storyjs .nav-container { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important }
.vco-storyjs h1.date,
.vco-storyjs h2.date,
.vco-storyjs h3.date,
.vco-storyjs h4.date,
.vco-storyjs h5.date,
.vco-storyjs h6.date { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important }
.vco-storyjs .timenav h1,
.vco-storyjs .flag-content h1,
.vco-storyjs .era h1,
.vco-storyjs .timenav h2,
.vco-storyjs .flag-content h2,
.vco-storyjs .era h2,
.vco-storyjs .timenav h3,
.vco-storyjs .flag-content h3,
.vco-storyjs .era h3,
.vco-storyjs .timenav h4,
.vco-storyjs .flag-content h4,
.vco-storyjs .era h4,
.vco-storyjs .timenav h5,
.vco-storyjs .flag-content h5,
.vco-storyjs .era h5,
.vco-storyjs .timenav h6,
.vco-storyjs .flag-content h6,
.vco-storyjs .era h6 { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important }
.vco-storyjs p,
.vco-storyjs blockquote,
.vco-storyjs blockquote p,
.vco-storyjs .twitter blockquote p { font-family: "Georgia",Times New Roman,Times,serif !important }
.vco-storyjs .vco-feature h1,
.vco-storyjs .vco-feature h2,
.vco-storyjs .vco-feature h3,
.vco-storyjs .vco-feature h4,
.vco-storyjs .vco-feature h5,
.vco-storyjs .vco-feature h6 { font-family: "Georgia",Times New Roman,Times,serif }
.timeline-tooltip { font-family: "Helvetica Neue",Helvetica,Arial,sans-serif }
.vco-storyjs {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
}
.vco-storyjs p {
    font-size: 15px;
    font-weight: normal;
    line-height: 20px;
    margin-bottom: 20px;
    color: #666;
}
.vco-storyjs p small {
    font-size: 12px;
    line-height: 17px;
}
.vco-storyjs p:first-child { margin-top: 20px }
.vco-storyjs .vco-navigation p { color: #999 }
.vco-storyjs .vco-feature h3,
.vco-storyjs .vco-feature h4,
.vco-storyjs .vco-feature h5,
.vco-storyjs .vco-feature h6 { margin-bottom: 15px }
.vco-storyjs .vco-feature p { color: #666 }
.vco-storyjs .vco-feature blockquote,
.vco-storyjs .vco-feature blockquote p { color: #000 }
.vco-storyjs .date a,
.vco-storyjs .title a { color: #999 }
.vco-storyjs .hyphenate {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.vco-storyjs h1,
.vco-storyjs h2,
.vco-storyjs h3,
.vco-storyjs h4,
.vco-storyjs h5,
.vco-storyjs h6 {
    font-weight: normal;
    color: #000;
    text-transform: none;
}
.vco-storyjs h1 a,
.vco-storyjs h2 a,
.vco-storyjs h3 a,
.vco-storyjs h4 a,
.vco-storyjs h5 a,
.vco-storyjs h6 a { color: #999 }
.vco-storyjs h1 small,
.vco-storyjs h2 small,
.vco-storyjs h3 small,
.vco-storyjs h4 small,
.vco-storyjs h5 small,
.vco-storyjs h6 small { color: #999 }
.vco-storyjs h1.date,
.vco-storyjs h2.date,
.vco-storyjs h3.date,
.vco-storyjs h4.date,
.vco-storyjs h5.date,
.vco-storyjs h6.date { font-weight: bold }
.vco-storyjs h2.start {
    font-size: 36px;
    line-height: 38px;
    margin-bottom: 15px;
}
.vco-storyjs h1 {
    margin-bottom: 15px;
    font-size: 32px;
    line-height: 34px;
}
.vco-storyjs h1 small { font-size: 18px }
.vco-storyjs h2 {
    margin-bottom: 15px;
    font-size: 28px;
    line-height: 30px;
}
.vco-storyjs h2 small {
    font-size: 14px;
    line-height: 16px;
}
.vco-storyjs h2.date {
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 3.75px;
    color: #999;
}
.vco-storyjs h3,
.vco-storyjs h4,
.vco-storyjs h5,
.vco-storyjs h6 { line-height: 40px }
.vco-storyjs h3 .active,
.vco-storyjs h4 .active,
.vco-storyjs h5 .active,
.vco-storyjs h6 .active { color: #08c }
.vco-storyjs h3 {
    font-size: 28px;
    line-height: 30px;
}
.vco-storyjs h3 small { font-size: 14px }
.vco-storyjs h4 {
    font-size: 20px;
    line-height: 22px;
}
.vco-storyjs h4 small { font-size: 12px }
.vco-storyjs h5 {
    font-size: 16px;
    line-height: 18px;
}
.vco-storyjs h6 {
    font-size: 13px;
    line-height: 14px;
    text-transform: uppercase;
}
.vco-storyjs strong {
    font-weight: bold;
    font-style: inherit;
}
.vco-storyjs em {
    font-style: italic;
    font-weight: inherit;
}
.vco-storyjs Q {
    quotes: '„' '“';
    font-style: italic;
}
.vco-storyjs blockquote,
.vco-storyjs blockquote p {
    font-size: 24px;
    line-height: 32px;
    text-align: left;
    margin-bottom: 6px;
    padding-top: 10px;
    background-color: #fff;
    color: #000;
}
.vco-storyjs .credit {
    color: #999;
    text-align: right;
    font-size: 10px;
    line-height: 10px;
    display: block;
    margin: 0 auto;
    clear: both;
}
.vco-storyjs .caption {
    text-align: left;
    margin-top: 5px;
    color: #666;
    font-size: 11px;
    line-height: 14px;
    clear: both;
}
[dir=rtl] .vco-storyjs.vco-right-to-left,
.vco-storyjs.vco-right-to-left[dir=rtl] { direction: ltr }
.vco-storyjs.vco-right-to-left h1,
.vco-storyjs.vco-right-to-left h2,
.vco-storyjs.vco-right-to-left h3,
.vco-storyjs.vco-right-to-left h4,
.vco-storyjs.vco-right-to-left h5,
.vco-storyjs.vco-right-to-left h6,
.vco-storyjs.vco-right-to-left p,
.vco-storyjs.vco-right-to-left blockquote,
.vco-storyjs.vco-right-to-left pre,
.vco-storyjs.vco-right-to-left a,
.vco-storyjs.vco-right-to-left abbr,
.vco-storyjs.vco-right-to-left acronym,
.vco-storyjs.vco-right-to-left address,
.vco-storyjs.vco-right-to-left cite,
.vco-storyjs.vco-right-to-left code,
.vco-storyjs.vco-right-to-left del,
.vco-storyjs.vco-right-to-left dfn,
.vco-storyjs.vco-right-to-left em,
.vco-storyjs.vco-right-to-left img,
.vco-storyjs.vco-right-to-left q,
.vco-storyjs.vco-right-to-left s,
.vco-storyjs.vco-right-to-left samp,
.vco-storyjs.vco-right-to-left small,
.vco-storyjs.vco-right-to-left strike,
.vco-storyjs.vco-right-to-left strong,
.vco-storyjs.vco-right-to-left sub,
.vco-storyjs.vco-right-to-left sup,
.vco-storyjs.vco-right-to-left tt,
.vco-storyjs.vco-right-to-left var,
.vco-storyjs.vco-right-to-left dd,
.vco-storyjs.vco-right-to-left dl,
.vco-storyjs.vco-right-to-left dt,
.vco-storyjs.vco-right-to-left li,
.vco-storyjs.vco-right-to-left ol,
.vco-storyjs.vco-right-to-left ul,
.vco-storyjs.vco-right-to-left fieldset,
.vco-storyjs.vco-right-to-left form,
.vco-storyjs.vco-right-to-left label,
.vco-storyjs.vco-right-to-left legend,
.vco-storyjs.vco-right-to-left button,
.vco-storyjs.vco-right-to-left table,
.vco-storyjs.vco-right-to-left caption,
.vco-storyjs.vco-right-to-left tbody,
.vco-storyjs.vco-right-to-left tfoot,
.vco-storyjs.vco-right-to-left thead,
.vco-storyjs.vco-right-to-left tr,
.vco-storyjs.vco-right-to-left th,
.vco-storyjs.vco-right-to-left td { direction: rtl }
.timeline-tooltip {
    position: absolute;
    z-index: 205;
    display: block;
    visibility: visible;
    padding: 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 15px;
    font-weight: bold;
    line-height: 20px;
    font-size: 12px;
    line-height: 12px;
}
.timeline-tooltip.in {
    opacity: .8;
    filter: alpha(opacity=80);
}
.timeline-tooltip.top { margin-top: -2px }
.timeline-tooltip.right { margin-left: 2px }
.timeline-tooltip.bottom { margin-top: 2px }
.timeline-tooltip.left { margin-left: -2px }
.timeline-tooltip.top .timeline-tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #000;
}
.timeline-tooltip.left .timeline-tooltip-arrow {
    top: 50%;
    right: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #000;
}
.timeline-tooltip.bottom .timeline-tooltip-arrow {
    top: 0;
    left: 50%;
    margin-left: -5px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid #000;
}
.timeline-tooltip.right .timeline-tooltip-arrow {
    top: 50%;
    left: 0;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-right: 5px solid #000;
}
.timeline-tooltip-inner {
    max-width: 200px;
    padding: 3px 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    background-color: #000;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.timeline-tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
}
@media only screen and (max-width:480px),only screen and (max-device-width:480px) { 
    .vco-slider .nav-next,
    .vco-slider .nav-previous { display: none }
}
.vco-skinny .vco-slider .slider-item .content .layout-text-media .text .container { text-align: center !important }
.vco-skinny .vco-slider .slider-item .content .layout-text-media h2,
.vco-skinny .vco-slider .slider-item .content .layout-text-media h3 {
    display: block !important;
    width: 100% !important;
    text-align: center !important;
}
.vco-skinny .vco-slider .slider-item .content .content-container { display: block }
.vco-skinny .vco-slider .slider-item .content .content-container .text {
    width: 100%;
    max-width: 100%;
    min-width: 120px;
    display: block;
}
.vco-skinny .vco-slider .slider-item .content .content-container .text .container {
    display: block;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.vco-skinny .vco-slider .slider-item .content .content-container .media {
    width: 100%;
    min-width: 50%;
    float: none;
}
.vco-skinny .vco-slider .slider-item .content .content-container .media .media-wrapper {
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    display: block;
}
.vco-skinny.vco-notouch .vco-slider .nav-previous,
.vco-skinny.vco-notouch .vco-slider .nav-next { z-index: 203 }
.vco-skinny.vco-notouch .vco-slider .nav-previous .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-next .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-previous .nav-container .title,
.vco-skinny.vco-notouch .vco-slider .nav-next .nav-container .title {
    filter: alpha(opacity=1);
    -khtml-opacity: .01;
    -moz-opacity: .01;
    opacity: .01;
}
.vco-skinny.vco-notouch .vco-slider .nav-previous .nav-container .icon,
.vco-skinny.vco-notouch .vco-slider .nav-next .nav-container .icon {
    filter: alpha(opacity=15);
    -khtml-opacity: .15;
    -moz-opacity: .15;
    opacity: .15;
}
.vco-skinny.vco-notouch .vco-slider .nav-previous .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -208px 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 10px;
}
.vco-skinny.vco-notouch .vco-slider .nav-next .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -232px 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 66px;
}
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover {
    color: #aaa !important;
    background-color: #333;
    background-color: rgba(0,0,0,0.65);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .icon,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .icon,
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .title,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .title {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    font-weight: bold;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .title,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .title { padding-bottom: 5px }
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .date,
.vco-skinny.vco-notouch .vco-slider .nav-previous:hover .nav-container .title,
.vco-skinny.vco-notouch .vco-slider .nav-next:hover .nav-container .title {
    padding-left: 5px;
    padding-right: 5px;
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) { 
    .vco-skinny.vco-notouch .vco-slider .nav-previous .icon {
        background-image: url(timeline@2x.png?v4.4);
        background-size: 352px 260px;
        background-repeat: no-repeat;
        background-position: -208px 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
    .vco-skinny.vco-notouch .vco-slider .nav-next .icon {
        background-image: url(timeline@2x.png?v4.4);
        background-size: 352px 260px;
        background-repeat: no-repeat;
        background-position: -232px 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
}
.vco-slider {
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vco-slider .slider-container-mask {
    text-align: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.vco-slider .slider-container-mask .slider-container {
    position: absolute;
    top: 0;
    left: -2160px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: block;
}
.vco-slider .slider-container-mask .slider-container .slider-item-container {
    display: table-cell;
    vertical-align: middle;
}
.vco-notouch .vco-slider .nav-previous:hover,
.vco-notouch .vco-slider .nav-next:hover {
    color: #333;
    cursor: pointer;
}
.vco-notouch .vco-slider .nav-previous:hover .icon { margin-left: 10px }
.vco-notouch .vco-slider .nav-next:hover .icon { margin-left: 66px }
.vco-notouch .vco-slider .slider-item .content .content-container .media .media-container .wikipedia h4 a:hover {
    color: #08c;
    text-decoration: none;
}
.vco-notouch .vco-slider .slider-item .content .content-container .created-at:hover {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.vco-notouch .vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments a:hover { text-decoration: none }
.vco-notouch .vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments a:hover h5 { text-decoration: underline }
.vco-slider img,
.vco-slider embed,
.vco-slider object,
.vco-slider video,
.vco-slider iframe { max-width: 100% }
.vco-slider .nav-previous,
.vco-slider .nav-next {
    position: absolute;
    top: 0;
    width: 100px;
    color: #dbdbdb;
    font-size: 11px;
}
.vco-slider .nav-previous .nav-container,
.vco-slider .nav-next .nav-container {
    height: 100px;
    width: 100px;
    position: absolute;
}
.vco-slider .nav-previous .icon,
.vco-slider .nav-next .icon {
    margin-top: 12px;
    margin-bottom: 15px;
}
.vco-slider .nav-previous .date,
.vco-slider .nav-next .date,
.vco-slider .nav-previous .title,
.vco-slider .nav-next .title { line-height: 14px }
.vco-slider .nav-previous .date a,
.vco-slider .nav-next .date a,
.vco-slider .nav-previous .title a,
.vco-slider .nav-next .title a { color: #999 }
.vco-slider .nav-previous .date small,
.vco-slider .nav-next .date small,
.vco-slider .nav-previous .title small,
.vco-slider .nav-next .title small { display: none }
.vco-slider .nav-previous .date,
.vco-slider .nav-next .date {
    font-size: 13px;
    line-height: 13px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 5px;
}
.vco-slider .nav-previous .title,
.vco-slider .nav-next .title {
    font-size: 11px;
    line-height: 13px;
}
.vco-slider .nav-previous {
    float: left;
    text-align: left;
}
.vco-slider .nav-previous .icon {
    margin-left: 15px;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -160px 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.vco-slider .nav-previous .date,
.vco-slider .nav-previous .title {
    text-align: left;
    padding-left: 15px;
}
.vco-slider .nav-next {
    float: right;
    text-align: right;
}
.vco-slider .nav-next .icon {
    margin-left: 61px;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -184px 0;
    width: 24px;
    height: 24px;
    overflow: hidden;
}
.vco-slider .nav-next .date,
.vco-slider .nav-next .title {
    text-align: right;
    padding-right: 15px;
}
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) { 
    .vco-slider .nav-previous .icon {
        background-image: url(timeline@2x.png?v4.4);
        background-size: 352px 260px;
        background-repeat: no-repeat;
        background-position: -160px 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
    .vco-slider .nav-next .icon {
        background-image: url(timeline@2x.png?v4.4);
        background-size: 352px 260px;
        background-repeat: no-repeat;
        background-position: -184px 0;
        width: 24px;
        height: 24px;
        overflow: hidden;
    }
}
.vco-slider .slider-item {
    position: absolute;
    width: 700px;
    height: 100%;
    padding: 0;
    margin: 0;
    display: table;
    overflow-y: auto;
}
.vco-slider .slider-item .content {
    display: table-cell;
    vertical-align: middle;
}
.vco-slider .slider-item .content .pad-top .text .container { padding-top: 15px }
.vco-slider .slider-item .content .pad-right .text .container { padding-right: 15px }
.vco-slider .slider-item .content .pad-left .text .container { padding-left: 30px }
.vco-slider .slider-item .content .pad-left .media.text-media .media-wrapper .media-container {
    border: none;
    background-color: #fff;
}
.vco-slider .slider-item .content .content-container {
    display: table;
    vertical-align: middle;
}
.vco-slider .slider-item .content .content-container .text {
    width: 40%;
    max-width: 50%;
    min-width: 120px;
    display: table-cell;
    vertical-align: middle;
}
.vco-slider .slider-item .content .content-container .text .container {
    display: table-cell;
    vertical-align: middle;
    text-align: left;
}
.vco-slider .slider-item .content .content-container .text .container p {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    word-wrap: break-word;
}
.vco-slider .slider-item .content .content-container .text .container h2.date {
    font-size: 15px;
    line-height: 15px;
    font-weight: normal;
}
.vco-slider .slider-item .content .content-container .text .container .slide-tag {
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    background-color: #ccc;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    vertical-align: baseline;
    white-space: nowrap;
    line-height: 11px;
    padding: 1px 3px 1px;
    margin-left: 7.5px;
    margin-bottom: 7.5px;
}
.vco-slider .slider-item .content .content-container .media {
    width: 100%;
    min-width: 50%;
    float: left;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container {
    display: inline-block;
    line-height: 0;
    padding: 0;
    max-height: 100%;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame,
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image img {
    border: 1px solid;
    border-color: #ccc #999 #999 #ccc;
    background-color: #fff;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-frame iframe { background-color: #fff }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .soundcloud { border: 0 }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-image { display: inline-block }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow {
    position: relative;
    z-index: 1;
    background: #fff;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow:before,
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow:after {
    z-index: -1;
    position: absolute;
    content: "";
    bottom: 15px;
    left: 10px;
    width: 50%;
    top: 80%;
    max-width: 300px;
    background: #999;
    -webkit-box-shadow: 0 15px 10px #999;
    -moz-box-shadow: 0 15px 10px #999;
    box-shadow: 0 15px 10px #999;
    -webkit-transform: rotate(-2deg);
    -moz-transform: rotate(-2deg);
    -ms-transform: rotate(-2deg);
    -o-transform: rotate(-2deg);
    transform: rotate(-2deg);
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .media-shadow::after {
    -webkit-transform: rotate(2deg);
    -moz-transform: rotate(2deg);
    -ms-transform: rotate(2deg);
    -o-transform: rotate(2deg);
    transform: rotate(2deg);
    right: 10px;
    left: auto;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .plain-text { display: table }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .plain-text .container {
    display: table-cell;
    vertical-align: middle;
    font-size: 15px;
    line-height: 20px;
    color: #666;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .plain-text .container p { margin-bottom: 20px }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .wikipedia {
    font-size: 15px;
    line-height: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    clear: both;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .wikipedia .wiki-source {
    margin-bottom: 15px;
    font-size: 13px;
    line-height: 19px;
    font-style: italic;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .wikipedia h4 {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .wikipedia h4 a { color: #000 }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .wikipedia p {
    font-size: 13px;
    line-height: 19px;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .map {
    line-height: normal;
    z-index: 200;
    text-align: left;
    background-color: #fff;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .map img {
    max-height: none !important;
    max-width: none !important;
    border: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .map .google-map {
    height: 100%;
    width: 100%;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .map .map-attribution {
    position: absolute;
    z-index: 201;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .map .map-attribution .attribution-text {
    height: 19px;
    overflow: hidden;
    -webkit-user-select: none;
    line-height: 19px;
    margin-right: 60px;
    padding-left: 65px;
    font-family: Arial,sans-serif;
    font-size: 10px;
    color: #444;
    white-space: nowrap;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    text-align: center;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .map .map-attribution .attribution-text a { color: #fff !important }
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .credit {
    color: #999;
    text-align: right;
    display: block;
    margin: 0 auto;
    margin-top: 6px;
    font-size: 10px;
    line-height: 13px;
}
.vco-slider .slider-item .content .content-container .media .media-wrapper .media-container .caption {
    text-align: left;
    margin-top: 10px;
    color: #666;
    font-size: 11px;
    line-height: 14px;
    text-rendering: optimizeLegibility;
    word-wrap: break-word;
}
.vco-slider .slider-item .content .content-container .media.text-media .media-wrapper .media-container {
    border: none;
    background-color: #fff;
}
.vco-slider .slider-item .content .content-container .created-at {
    width: 24px;
    height: 24px;
    overflow: hidden;
    margin-left: 7.5px;
    margin-top: 2px;
    display: inline-block;
    float: right;
    filter: alpha(opacity=25);
    -khtml-opacity: .25;
    -moz-opacity: .25;
    opacity: .25;
}
.vco-slider .slider-item .content .content-container .storify .created-at {
    background-repeat: no-repeat;
    background-position: -328px -96px;
}
.vco-slider .slider-item .content .content-container .twitter .created-at {
    background-repeat: no-repeat;
    background-position: -256px -24px;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content {
    font-size: 13px;
    line-height: 19px;
    margin-bottom: 6px;
    padding-top: 10px;
    background-color: #fff;
    color: #666;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content p {
    font-size: 13px;
    line-height: 19px;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-title {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 6px;
    padding-top: 10px;
    background-color: #fff;
    color: #000;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-annotation {
    font-size: 15px;
    line-height: 20px;
    color: #000;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 7.5px;
    margin-bottom: 7.5px;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments {
    border-top: 1px solid #e3e3e3;
    padding-top: 15px;
    margin-top: 15px;
    border-bottom: 1px solid #e3e3e3;
    padding-bottom: 15px;
    margin-bottom: 15px;
    *zoom: 1;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments:before,
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments:after {
    display: table;
    content: "";
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments:after { clear: both }
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments h5 { margin-bottom: 5px }
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments div {
    width: 50%;
    padding-left: 15px;
    display: inline-block;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments p {
    font-size: 11px;
    line-height: 14px;
    margin-bottom: 5px;
}
.vco-slider .slider-item .content .content-container .googleplus .googleplus-content .googleplus-attachments img {
    float: left;
    display: block;
    bottom: 0;
    left: 0;
    margin: auto;
    position: relative;
    right: 0;
    top: 0;
    width: 40%;
}
.vco-slider .slider-item .content .content-container .googleplus .proflinkPrefix { color: #08c }
.vco-slider .slider-item .content .content-container .googleplus .created-at {
    background-repeat: no-repeat;
    background-position: -208px -72px;
}
.vco-slider .slider-item .content .content-container .twitter,
.vco-slider .slider-item .content .content-container .plain-text-quote,
.vco-slider .slider-item .content .content-container .storify,
.vco-slider .slider-item .content .content-container .googleplus {
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
    clear: both;
}
.vco-slider .slider-item .content .content-container .twitter blockquote,
.vco-slider .slider-item .content .content-container .plain-text-quote blockquote,
.vco-slider .slider-item .content .content-container .storify blockquote,
.vco-slider .slider-item .content .content-container .googleplus blockquote { color: #666 }
.vco-slider .slider-item .content .content-container .twitter blockquote p,
.vco-slider .slider-item .content .content-container .plain-text-quote blockquote p,
.vco-slider .slider-item .content .content-container .storify blockquote p,
.vco-slider .slider-item .content .content-container .googleplus blockquote p {
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 6px;
    padding-top: 10px;
    background-color: #fff;
    color: #000;
}
.vco-slider .slider-item .content .content-container .twitter blockquote .quote-mark,
.vco-slider .slider-item .content .content-container .plain-text-quote blockquote .quote-mark,
.vco-slider .slider-item .content .content-container .storify blockquote .quote-mark,
.vco-slider .slider-item .content .content-container .googleplus blockquote .quote-mark { color: #666 }
.vco-slider .slider-item .content .content-container .twitter blockquote { font-size: 15px }
.vco-slider .slider-item .content .content-container .twitter blockquote p { font-size: 24px }
.vco-slider .slider-item .content .content-container.layout-text-media .text-media {
    border-top: 1px solid #e3e3e3;
    padding-top: 15px;
    padding-right: 0;
}
.vco-slider .slider-item .content .content-container.layout-text-media.pad-left .text-media {
    padding-right: 15px;
    padding-top: 0;
    border-right: 1px solid #e3e3e3;
    border-top: 0 solid #e3e3e3;
}
.vco-slider .slider-item .content .content-container.layout-text { width: 100% }
.vco-slider .slider-item .content .content-container.layout-text .text {
    width: 100%;
    max-width: 100%;
}
.vco-slider .slider-item .content .content-container.layout-text .text .container {
    display: block;
    vertical-align: middle;
    padding: 0;
    width: 90%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
}
.vco-slider .slider-item .content .content-container.layout-media { width: 100% }
.vco-slider .slider-item .content .content-container.layout-media .text {
    width: 100%;
    height: 100%;
    max-width: 100%;
    display: block;
    text-align: center;
}
.vco-slider .slider-item .content .content-container.layout-media .text .container {
    display: block;
    text-align: center;
    width: 100%;
    margin-left: none;
    margin-right: none;
}
.vco-slider .slider-item .content .content-container.layout-media .media {
    width: 100%;
    min-width: 50%;
    float: none;
}
.vco-slider .slider-item .content .content-container.layout-media .media .media-wrapper .media-container {
    margin-left: auto;
    margin-right: auto;
    line-height: 0;
    padding: 0;
}
.vco-slider .slider-item .content .content-container.layout-media .twitter,
.vco-slider .slider-item .content .content-container.layout-media .wikipedia,
.vco-slider .slider-item .content .content-container.layout-media .googleplus { max-width: 70% }
.storyjs-embed {
    background-color: #fff;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
    -moz-box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.35);
}
.storyjs-embed.full-embed {
    overflow: hidden;
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
    clear: both;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
    box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
}
.storyjs-embed.sized-embed {
    overflow: hidden;
    border: 1px solid #ccc;
    padding-top: 7px;
    padding-bottom: 7px;
    margin: 0 !important;
    clear: both;
    -webkit-box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
    -moz-box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
    box-shadow: 0 0 0 rgba(0,0,0,0.25) !important;
}
.vco-storyjs {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #fff;
    position: absolute;
    z-index: 100;
    clear: both;
    overflow: hidden;
}
.vco-storyjs .vmm-clear:before,
.vco-storyjs .vmm-clear:after {
    content: "";
    display: table;
}
.vco-storyjs .vmm-clear:after { clear: both }
.vco-storyjs .vmm-clear { *zoom: 1 }
.vco-storyjs .vco-feature { width: 100% }
.vco-storyjs .vco-feature .slider,
.vco-storyjs .vco-feature .vco-slider {
    width: 100%;
    float: left;
    position: relative;
    z-index: 10;
    padding-top: 15px;
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}
.vco-storyjs .vco-feedback {
    position: absolute;
    display: table;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: 205;
    width: 100%;
    height: 100%;
}
.vco-storyjs div.vco-loading,
.vco-storyjs div.vco-explainer {
    display: table;
    text-align: center;
    min-width: 100px;
    margin-top: 15px;
    height: 100%;
    width: 100%;
    background-color: #fff;
}
.vco-storyjs div.vco-loading .vco-loading-container,
.vco-storyjs div.vco-explainer .vco-loading-container,
.vco-storyjs div.vco-loading .vco-explainer-container,
.vco-storyjs div.vco-explainer .vco-explainer-container {
    display: table-cell;
    vertical-align: middle;
}
.vco-storyjs div.vco-loading .vco-loading-container .vco-loading-icon,
.vco-storyjs div.vco-explainer .vco-loading-container .vco-loading-icon,
.vco-storyjs div.vco-loading .vco-explainer-container .vco-loading-icon,
.vco-storyjs div.vco-explainer .vco-explainer-container .vco-loading-icon {
    display: block;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url(loading.gif?v3.4);
    width: 28px;
    height: 28px;
}
.vco-storyjs div.vco-loading .vco-loading-container .vco-gesture-icon,
.vco-storyjs div.vco-explainer .vco-loading-container .vco-gesture-icon,
.vco-storyjs div.vco-loading .vco-explainer-container .vco-gesture-icon,
.vco-storyjs div.vco-explainer .vco-explainer-container .vco-gesture-icon {
    display: block;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -160px -160px;
    width: 48px;
    height: 48px;
}
.vco-storyjs div.vco-loading .vco-loading-container .vco-message,
.vco-storyjs div.vco-explainer .vco-loading-container .vco-message,
.vco-storyjs div.vco-loading .vco-explainer-container .vco-message,
.vco-storyjs div.vco-explainer .vco-explainer-container .vco-message { display: block }
.vco-storyjs div.vco-loading .vco-loading-container .vco-message,
.vco-storyjs div.vco-explainer .vco-loading-container .vco-message,
.vco-storyjs div.vco-loading .vco-explainer-container .vco-message,
.vco-storyjs div.vco-explainer .vco-explainer-container .vco-message,
.vco-storyjs div.vco-loading .vco-loading-container .vco-message p,
.vco-storyjs div.vco-explainer .vco-loading-container .vco-message p,
.vco-storyjs div.vco-loading .vco-explainer-container .vco-message p,
.vco-storyjs div.vco-explainer .vco-explainer-container .vco-message p {
    text-align: center;
    font-size: 11px;
    line-height: 13px;
    text-transform: uppercase;
    margin-top: 7.5px;
    margin-bottom: 7.5px;
}
.vco-storyjs div.vco-explainer { background-color: transparent }
.vco-storyjs .vco-bezel {
    background-color: #333;
    background-color: rgba(0,0,0,0.8);
    width: 80px;
    height: 50px;
    padding: 50px;
    padding-top: 25px;
    padding: 25px 20px 50px 20px;
    margin: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.vco-storyjs .vco-bezel .vco-message,
.vco-storyjs .vco-bezel .vco-message p {
    color: #fff;
    font-weight: bold;
}
.vco-storyjs .vco-container.vco-main {
    position: absolute;
    top: 0;
    left: 0;
    padding-bottom: 3px;
    width: auto;
    height: auto;
    margin: 0;
    clear: both;
}
.vco-storyjs img,
.vco-storyjs embed,
.vco-storyjs object,
.vco-storyjs video,
.vco-storyjs iframe { max-width: 100% }
.vco-storyjs img {
    max-height: 100%;
    border: 1px solid #999;
}
.vco-storyjs a {
    color: #08c;
    text-decoration: none;
}
.vco-storyjs a:hover {
    color: #005580;
    text-decoration: underline;
}
.vco-storyjs .vcard {
    float: right;
    margin-bottom: 15px;
}
.vco-storyjs .vcard a { color: #333 }
.vco-storyjs .vcard a:hover { text-decoration: none }
.vco-storyjs .vcard a:hover .fn { text-decoration: underline }
.vco-storyjs .vcard .fn,
.vco-storyjs .vcard .nickname { padding-left: 42px }
.vco-storyjs .vcard .fn {
    display: block;
    font-weight: bold;
}
.vco-storyjs .vcard .nickname {
    margin-top: 1px;
    display: block;
    color: #666;
}
.vco-storyjs .vcard .avatar {
    float: left;
    display: block;
    width: 32px;
    height: 32px;
}
.vco-storyjs .vcard .avatar img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.vco-storyjs .thumbnail {
    width: 24px;
    height: 24px;
    overflow: hidden;
    float: left;
    margin: 0;
    margin-right: 1px;
    margin-top: 6px;
    border: 0;
    padding: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.vco-storyjs a.thumbnail:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.vco-storyjs .thumbnail.thumb-plaintext {
    background-repeat: no-repeat;
    background-position: -280px -48px;
}
.vco-storyjs .thumbnail.thumb-quote {
    background-repeat: no-repeat;
    background-position: -232px -48px;
}
.vco-storyjs .thumbnail.thumb-document {
    background-repeat: no-repeat;
    background-position: -256px -48px;
}
.vco-storyjs .thumbnail.thumb-photo {
    background-repeat: no-repeat;
    background-position: -280px -24px;
    border: 0;
}
.vco-storyjs .thumbnail.thumb-photo img { border: 0 none #ccc !important }
.vco-storyjs .thumbnail.thumb-twitter {
    background-repeat: no-repeat;
    background-position: -256px -24px;
}
.vco-storyjs .thumbnail.thumb-vimeo {
    background-repeat: no-repeat;
    background-position: -328px -48px;
}
.vco-storyjs .thumbnail.thumb-vine {
    background-repeat: no-repeat;
    background-position: -232px -72px;
}
.vco-storyjs .thumbnail.thumb-youtube {
    background-repeat: no-repeat;
    background-position: -328px -72px;
}
.vco-storyjs .thumbnail.thumb-video {
    background-repeat: no-repeat;
    background-position: -328px -24px;
}
.vco-storyjs .thumbnail.thumb-audio {
    background-repeat: no-repeat;
    background-position: -304px -24px;
}
.vco-storyjs .thumbnail.thumb-map {
    background-repeat: no-repeat;
    background-position: -208px -48px;
}
.vco-storyjs .thumbnail.thumb-website {
    background-repeat: no-repeat;
    background-position: -232px -24px;
}
.vco-storyjs .thumbnail.thumb-link {
    background-repeat: no-repeat;
    background-position: -184px -72px;
}
.vco-storyjs .thumbnail.thumb-wikipedia {
    background-repeat: no-repeat;
    background-position: -184px -48px;
}
.vco-storyjs .thumbnail.thumb-storify {
    background-repeat: no-repeat;
    background-position: -328px -96px;
}
.vco-storyjs .thumbnail.thumb-googleplus {
    background-repeat: no-repeat;
    background-position: -208px -72px;
}
.vco-storyjs thumbnail.thumb-instagram {
    background-repeat: no-repeat;
    background-position: -208px -96px;
}
.vco-storyjs thumbnail.thumb-instagram-full {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -232px -96px;
    width: 48px;
    height: 24px;
}
.vco-storyjs .thumb-storify-full {
    height: 12px;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -280px -96px;
    width: 48px;
}
.vco-storyjs .thumbnail-inline {
    width: 16px;
    height: 14px;
    overflow: hidden;
    display: inline-block;
    margin-right: 1px;
    margin-left: 3px;
    margin-top: 2px;
    filter: alpha(opacity=50);
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
}
.vco-storyjs .twitter .thumbnail-inline {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -160px -96px;
}
.vco-storyjs .storify .thumbnail-inline {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -184px -96px;
}
.vco-storyjs .googleplus .thumbnail-inline {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -208px -96px;
}
.vco-storyjs .zFront { z-index: 204 }
@media only screen and (-webkit-min-device-pixel-ratio:2),only screen and (min-device-pixel-ratio:2) { 
    .vco-storyjs div.vco-loading .vco-loading-container .vco-loading-icon,
    .vco-storyjs div.vco-explainer .vco-loading-container .vco-loading-icon,
    .vco-storyjs div.vco-loading .vco-explainer-container .vco-loading-icon,
    .vco-storyjs div.vco-explainer .vco-explainer-container .vco-loading-icon { background-image: url(loading@2x.gif?v3.4) }
    .vco-storyjs div.vco-loading .vco-loading-container .vco-gesture-icon,
    .vco-storyjs div.vco-explainer .vco-loading-container .vco-gesture-icon,
    .vco-storyjs div.vco-loading .vco-explainer-container .vco-gesture-icon,
    .vco-storyjs div.vco-explainer .vco-explainer-container .vco-gesture-icon {
        background-image: url(timeline@2x.png?v4.4);
        background-size: 352px 260px;
        background-repeat: no-repeat;
        background-position: -160px -160px;
        width: 48px;
        height: 48px;
    }
}
.vco-notouch .vco-navigation .vco-toolbar .zoom-in:hover,
.vco-notouch .vco-navigation .vco-toolbar .zoom-out:hover,
.vco-notouch .vco-navigation .vco-toolbar .back-home:hover {
    color: #08c;
    cursor: pointer;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.vco-notouch .vco-navigation .timenav .content .marker.active:hover { cursor: default }
.vco-notouch .vco-navigation .timenav .content .marker.active:hover .flag .flag-content h3,
.vco-notouch .vco-navigation .timenav .content .marker.active:hover .flag-small .flag-content h3 { color: #08c }
.vco-notouch .vco-navigation .timenav .content .marker.active:hover .flag .flag-content h4,
.vco-notouch .vco-navigation .timenav .content .marker.active:hover .flag-small .flag-content h4 { color: #999 }
.vco-notouch .vco-navigation .timenav .content .marker:hover .line {
    z-index: 24;
    background: #999;
}
.vco-notouch .vco-navigation .timenav .content .marker .flag:hover,
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover { cursor: pointer }
.vco-notouch .vco-navigation .timenav .content .marker .flag:hover .flag-content h3,
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover .flag-content h3 { color: #333 }
.vco-notouch .vco-navigation .timenav .content .marker .flag:hover .flag-content h4,
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover .flag-content h4 { color: #aaa }
.vco-notouch .vco-navigation .timenav .content .marker .flag:hover .flag-content .thumbnail,
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover .flag-content .thumbnail {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.vco-notouch .vco-navigation .timenav .content .marker .flag:hover {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 -53px;
    width: 153px;
    height: 53px;
}
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover {
    height: 56px;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 -53px;
    width: 153px;
    height: 53px;
}
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover .flag-content { height: 36px }
.vco-notouch .vco-navigation .timenav .content .marker .flag-small:hover .flag-content h3 { margin-top: 5px }
.vco-notouch .vco-navigation .timenav .content .marker .flag-small.flag-small-last:hover {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 -109px;
    width: 153px;
    height: 26px;
}
.vco-notouch .vco-navigation .timenav .content .marker .flag-small.flag-small-last:hover .flag-content { height: 14px }
.vco-notouch .vco-navigation .timenav .content .marker .flag-small.flag-small-last:hover .flag-content h3 { margin-top: 4px }
.vco-timeline .vco-navigation {
    clear: both;
    cursor: move;
    width: 100%;
    height: 200px;
    border-top: 1px solid #e3e3e3;
    position: relative;
}
.vco-timeline .vco-navigation .vco-toolbar {
    position: absolute;
    top: 45px;
    left: 0;
    z-index: 202;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
}
.vco-timeline .vco-navigation .vco-toolbar .zoom-in,
.vco-timeline .vco-navigation .vco-toolbar .zoom-out,
.vco-timeline .vco-navigation .vco-toolbar .back-home {
    font-weight: normal;
    font-size: 10px;
    line-height: 20px;
    top: 0;
    z-index: 202;
    width: 18px;
    height: 18px;
    color: #333;
    text-align: center;
    font-weight: bold;
    border: 1px solid #fff;
    padding: 5px;
    filter: alpha(opacity=50);
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
}
.vco-timeline .vco-navigation .vco-toolbar .zoom-in .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -256px 0;
    width: 24px;
    height: 24px;
}
.vco-timeline .vco-navigation .vco-toolbar .zoom-out .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -280px 0;
    width: 24px;
    height: 24px;
}
.vco-timeline .vco-navigation .vco-toolbar .back-home .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -328px 0;
    width: 24px;
    height: 24px;
}
.vco-timeline .vco-navigation .vco-toolbar.touch {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.vco-timeline .vco-navigation .vco-toolbar.touch .zoom-in,
.vco-timeline .vco-navigation .vco-toolbar.touch .zoom-out,
.vco-timeline .vco-navigation .vco-toolbar.touch .back-home {
    width: 40px;
    height: 40px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    box-shadow: 1px 1px 0 rgba(0,0,0,0.2);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.vco-timeline .vco-navigation .vco-toolbar.touch .zoom-in .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -208px -160px;
    width: 40px;
    height: 40px;
}
.vco-timeline .vco-navigation .vco-toolbar.touch .zoom-out .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -256px -160px;
    width: 40px;
    height: 40px;
}
.vco-timeline .vco-navigation .vco-toolbar.touch .back-home .icon {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -304px -160px;
    width: 40px;
    height: 40px;
}
.vco-timeline .vco-navigation .timenav-background {
    position: absolute;
    cursor: move;
    top: 0;
    left: 0;
    height: 150px;
    width: 100%;
    background-color: #e9e9e9;
}
.vco-timeline .vco-navigation .timenav-background .timenav-interval-background {
    position: absolute;
    top: 151px;
    left: 0;
    background: #fff;
    width: 100%;
    height: 49px;
    -webkit-box-shadow: -1px -1px 7px rgba(0,0,0,0.1);
    -moz-box-shadow: -1px -1px 7px rgba(0,0,0,0.1);
    box-shadow: -1px -1px 7px rgba(0,0,0,0.1);
}
.vco-timeline .vco-navigation .timenav-background .timenav-interval-background .top-highlight {
    position: absolute;
    top: -1px;
    left: 0;
    z-index: 30;
    width: 100%;
    height: 1px;
    background: #fff;
    filter: alpha(opacity=50);
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
    -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    -moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
    box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
}
.vco-timeline .vco-navigation .timenav-background .timenav-line {
    position: absolute;
    top: 0;
    left: 50%;
    width: 3px;
    height: 150px;
    background-color: #08c;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    -moz-box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
    box-shadow: 1px 1px 7px rgba(0,0,0,0.3);
}
.vco-timeline .vco-navigation .timenav-background .timenav-indicator {
    position: absolute;
    top: -1px;
    left: 50%;
    z-index: 202;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -160px -48px;
    width: 24px;
    height: 24px;
}
.vco-timeline .vco-navigation .timenav-background .timenav-tag div {
    height: 50px;
    display: table;
}
.vco-timeline .vco-navigation .timenav-background .timenav-tag div h3 {
    display: table-cell;
    vertical-align: middle;
    padding-left: 65px;
    font-size: 15px;
    color: #d0d0d0;
    font-weight: bold;
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav-background .timenav-tag-size-half { height: 25px }
.vco-timeline .vco-navigation .timenav-background .timenav-tag-size-half div { height: 25px }
.vco-timeline .vco-navigation .timenav-background .timenav-tag-size-full { height: 50px }
.vco-timeline .vco-navigation .timenav-background .timenav-tag-size-full div { height: 50px }
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-2,
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-4,
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-6 { background: #f1f1f1 }
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-1,
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-3,
.vco-timeline .vco-navigation .timenav-background .timenav-tag-row-5 { background: #e9e9e9 }
.vco-timeline .vco-navigation .timenav {
    position: absolute;
    top: 0;
    left: -250px;
    z-index: 1;
}
.vco-timeline .vco-navigation .timenav .content { position: relative }
.vco-timeline .vco-navigation .timenav .content .marker.start { display: none }
.vco-timeline .vco-navigation .timenav .content .marker.active .dot {
    background: #08c;
    z-index: 200;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .line {
    z-index: 199;
    background: #08c;
    width: 1px;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .line .event-line {
    background: #08c;
    filter: alpha(opacity=75);
    -khtml-opacity: .75;
    -moz-opacity: .75;
    opacity: .75;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small { z-index: 200 }
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content { height: 36px }
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content h3,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 {
    color: #08c;
    margin-top: 5px;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag .flag-content .thumbnail,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content .thumbnail {
    filter: alpha(opacity=100);
    -khtml-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag.row1,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag.row2,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag.row3,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small.row1,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small.row2,
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small.row3 { z-index: 200 }
.vco-timeline .vco-navigation .timenav .content .marker.active .flag {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 -53px;
    width: 153px;
    height: 53px;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 -109px;
    width: 153px;
    height: 26px;
}
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content { height: 14px }
.vco-timeline .vco-navigation .timenav .content .marker.active .flag-small .flag-content h3 { margin-top: 4px }
.vco-timeline .vco-navigation .timenav .content .marker {
    position: absolute;
    top: 0;
    left: 150px;
    display: block;
}
.vco-timeline .vco-navigation .timenav .content .marker .dot {
    position: absolute;
    top: 150px;
    left: 0;
    display: block;
    width: 6px;
    height: 6px;
    background: #333;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    z-index: 21;
}
.vco-timeline .vco-navigation .timenav .content .marker .line {
    position: absolute;
    top: 0;
    left: 3px;
    width: 1px;
    height: 150px;
    background-color: #ccc;
    background-color: rgba(204,204,204,0.5);
    -webkit-box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    box-shadow: 1px 0 0 rgba(255,255,255,0.5);
    z-index: 22;
}
.vco-timeline .vco-navigation .timenav .content .marker .line .event-line {
    position: absolute;
    z-index: 22;
    left: 0;
    height: 1px;
    width: 1px;
    background: #08c;
    filter: alpha(opacity=15);
    -khtml-opacity: .15;
    -moz-opacity: .15;
    opacity: .15;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small {
    position: absolute;
    top: 15px;
    left: 3px;
    padding: 0;
    display: block;
    z-index: 23;
    width: 153px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content {
    padding: 0 7px 2px 6px;
    overflow: hidden;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3 {
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    font-size: 11px;
    line-height: 11px;
    color: #999;
    margin-bottom: 2px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3 small,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3 small { display: none }
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h4,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h4 {
    display: none;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;
    margin-top: 5px;
    font-size: 10px;
    line-height: 10px;
    color: #aaa;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h4 small,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h4 small { display: none }
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content .thumbnail,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail {
    margin-bottom: 15px;
    margin-right: 3px;
    filter: alpha(opacity=50);
    -khtml-opacity: .5;
    -moz-opacity: .5;
    opacity: .5;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content .thumbnail img,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail img {
    width: 22px;
    height: 22px;
    max-height: none;
    max-width: none;
    border: 0;
    border: 1px solid #999;
    padding: 0;
    margin: 0;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag {
    height: 56px;
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 153px;
    height: 53px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content { height: 36px }
.vco-timeline .vco-navigation .timenav .content .marker .flag .flag-content h3 { margin-top: 5px }
.vco-timeline .vco-navigation .timenav .content .marker .flag-small {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: 0 -135px;
    width: 153px;
    height: 26px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content { height: 14px }
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content h3 { margin-top: 4px }
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail {
    width: 16px;
    height: 10px;
    margin-right: 1px;
    margin-top: 6px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-plaintext {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -280px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-quote {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -232px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-document {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -256px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-photo {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -280px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-twitter {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -256px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-vimeo {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -328px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-vine {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -160px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-youtube {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -304px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-video {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -328px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-audio {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -304px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-map {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -208px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-website {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -232px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-link {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -232px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-wikipedia {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -184px -120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-storify {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -184px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content .thumbnail.thumb-googleplus {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -208px -130px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small .flag-content thumbnail.thumb-instagram {
    background-image: url(timeline.png?v4.4);
    background-repeat: no-repeat;
    background-position: -208px -96px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag.row1 {
    z-index: 25;
    top: 48px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag.row2 {
    z-index: 24;
    top: 96px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag.row3 {
    z-index: 23;
    top: 1px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.row1 {
    z-index: 28;
    top: 24px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.row2 {
    z-index: 27;
    top: 48px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.row3 {
    z-index: 26;
    top: 72px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.row4 {
    z-index: 25;
    top: 96px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.row5 {
    z-index: 24;
    top: 120px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.row6 {
    z-index: 23;
    top: 1px;
}
.vco-timeline .vco-navigation .timenav .content .marker .flag.zFront,
.vco-timeline .vco-navigation .timenav .content .marker .flag-small.zFront { z-index: 201 }
.vco-timeline .vco-navigation .timenav .content .era {
    position: absolute;
    top: 138px;
    left: 150px;
    height: 12px;
    display: block;
    overflow: hidden;
}
.vco-timeline .vco-navigation .timenav .content .era div {
    height: 50px;
    width: 100%;
    height: 100%;
    line-height: 0;
    background: #e9e9e9;
    background: rgba(233,233,233,0.33);
}
.vco-timeline .vco-navigation .timenav .content .era div h3,
.vco-timeline .vco-navigation .timenav .content .era div h4 {
    position: absolute;
    bottom: 1px;
    padding-left: 15px;
    font-size: 15px;
    font-weight: bold;
    color: rgba(0,136,204,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .content .era1 div {
    background: #c40;
    filter: alpha(opacity=10);
    -khtml-opacity: .1;
    -moz-opacity: .1;
    opacity: .1;
    border-left: 1px solid rgba(204,68,0,0.1);
    border-right: 1px solid rgba(255,85,0,0.05);
}
.vco-timeline .vco-navigation .timenav .content .era1 div h3,
.vco-timeline .vco-navigation .timenav .content .era1 div h4 {
    color: rgba(204,68,0,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .content .era2 div {
    background: #c02;
    filter: alpha(opacity=10);
    -khtml-opacity: .1;
    -moz-opacity: .1;
    opacity: .1;
    border-left: 1px solid rgba(204,0,34,0.1);
    border-right: 1px solid rgba(255,0,43,0.05);
}
.vco-timeline .vco-navigation .timenav .content .era2 div h3,
.vco-timeline .vco-navigation .timenav .content .era2 div h4 {
    color: rgba(204,0,34,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .content .era3 div {
    background: #02c;
    filter: alpha(opacity=10);
    -khtml-opacity: .1;
    -moz-opacity: .1;
    opacity: .1;
    border-left: 1px solid rgba(0,34,204,0.1);
    border-right: 1px solid rgba(0,43,255,0.05);
}
.vco-timeline .vco-navigation .timenav .content .era3 div h3,
.vco-timeline .vco-navigation .timenav .content .era3 div h4 {
    color: rgba(0,34,204,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .content .era4 div {
    background: #ca0;
    filter: alpha(opacity=10);
    -khtml-opacity: .1;
    -moz-opacity: .1;
    opacity: .1;
    border-left: 1px solid rgba(204,170,0,0.1);
    border-right: 1px solid rgba(255,213,0,0.05);
}
.vco-timeline .vco-navigation .timenav .content .era4 div h3,
.vco-timeline .vco-navigation .timenav .content .era4 div h4 {
    color: rgba(204,170,0,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .content .era5 div {
    background: #0ca;
    filter: alpha(opacity=10);
    -khtml-opacity: .1;
    -moz-opacity: .1;
    opacity: .1;
    border-left: 1px solid rgba(0,204,170,0.1);
    border-right: 1px solid rgba(0,255,213,0.05);
}
.vco-timeline .vco-navigation .timenav .content .era5 div h3,
.vco-timeline .vco-navigation .timenav .content .era5 div h4 {
    color: rgba(0,204,170,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .content .era6 div {
    background: #08c;
    filter: alpha(opacity=10);
    -khtml-opacity: .1;
    -moz-opacity: .1;
    opacity: .1;
    border-left: 1px solid rgba(0,136,204,0.1);
    border-right: 1px solid rgba(0,170,255,0.05);
}
.vco-timeline .vco-navigation .timenav .content .era6 div h3,
.vco-timeline .vco-navigation .timenav .content .era6 div h4 {
    color: rgba(0,136,204,0.35);
    text-shadow: 0 1px 1px #fff;
}
.vco-timeline .vco-navigation .timenav .time {
    position: absolute;
    left: 0;
    top: 150px;
    height: 50px;
    background-color: #fff;
    line-height: 0;
}
.vco-timeline .vco-navigation .timenav .time .time-interval-minor {
    max-width: none;
    height: 6px;
    white-space: nowrap;
    position: absolute;
    top: -2px;
    left: 8px;
    z-index: 10;
}